/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>


#define LEFT_KEYS \
    0 1 2 3 4 5 \
    12 13 14 15 16 17 \
    24 25 26 27 28 29 \
    36 37 38 

#define RIGHT_KEYS \
    6 7 8 9 10 11 \
    18 19 20 21 22 23 \
    30 31 32 33 34 35 \
    39 40 41
#define LEFT_THUMBS 36 37 38
#define RIGHT_THUMBS 39 40 41

/ {
    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
        };
        hmr_l: hmr_l {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-key-positions = <RIGHT_KEYS LEFT_THUMBS>;
        };
        hmr_r: hmr_r {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-key-positions = <LEFT_KEYS RIGHT_THUMBS>;
        };
        hmr_mo: hmr_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_MO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <75>;
            flavor = "hold-preferred";
        };
        hms: homerow_mods_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";          
            tapping-term-ms = <175>;      // shift는 더 짧게
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>; // 낮게 설정
            
            bindings = <&kp>, <&kp>;
        };
        /* F 키 전용 Shift: 반대쪽 손 + 왼손 엄지 전체(50~54)를 트리거로 인정 */
        hms_l: homerow_mods_shift_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HMS_L";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
            hold-trigger-key-positions = <RIGHT_KEYS LEFT_THUMBS>;
        };

        /* J 키 전용 Shift: 반대쪽 손 + 오른손 엄지 전체(55~59)를 트리거로 인정 */
        hms_r: homerow_mods_shift_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HMS_R";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
            hold-trigger-key-positions = <LEFT_KEYS RIGHT_THUMBS>;
        };
        /* 엄지 전용 Dual-Role 키 (Tap: 일반 글쇠, Hold: 레이어 전환) */
        lt_th: thumb_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LT";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <190>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB         &kp Q          &kp W             &kp E             &kp R               &kp T            &kp Y          &kp U               &kp I             &kp O             &kp P                    &kp BSPC
&hmr_mo 1 ESC   &hmr_l LCTRL A &hmr_l LEFT_WIN S &hmr_l LEFT_ALT D &hms_l LEFT_SHIFT F &kp G            &kp H          &hms_r LEFT_SHIFT J &hmr_r LEFT_ALT K &hmr_r LEFT_GUI L &hmr_r LEFT_CONTROL SEMI &kp SQT
&kp LEFT_SHIFT  &kp Z          &kp X             &kp C             &kp V               &kp B            &kp N          &kp M               &kp COMMA         &kp DOT           &kp FSLH                 &kp TILDE
                                                 &lt_th 1 ESC      &lt_th 3 TAB        &lt_th 4 SPACE   &lt_th 5 RET   &lt_th 2 BSPC       &lt_th 6 LC(SPACE)
            >;
        };

        nav_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &kp F1          &kp F2          &kp F3        &kp F4     &kp F5       &kp F6    &kp F7         &kp F8    &kp F9     &kp F10        &kp BACKSPACE
&trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans       &kp LEFT  &kp DOWN       &kp UP    &kp RIGHT  &kp PAGE_UP    &trans
&kp LSHFT  &kp LA(Z)       &trans          &kp LA(C)     &kp LA(V)  &trans       &kp DEL   &kp BACKSPACE  &kp HOME  &kp END    &kp PAGE_DOWN  &trans
                                           &kp LGUI      &trans     &kp SPACE    &kp RET   &trans         &kp RALT
            >;
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT     &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans        &trans        &trans        &trans        &trans        &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR    &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                       &kp LGUI      &trans        &kp SPACE     &kp RET    &trans     &kp RALT
            >;
        };
        number_layer {

            display-name = "Number";
            // ┌────────┬────────┬────────┬────────┬────────┬────────┐                        ┌────────┬────────┬────────┬────────┬────────┬────────┐
            // │ trans  │ trans  │ trans  │ trans  │ trans  │ trans  │                        │ trans  │   7    │   8    │   9    │ trans  │ trans  │
            // │ trans  │  LEFT  │  DOWN  │   UP   │ RIGHT  │ trans  │                        │ trans  │   4    │   5    │   6    │ trans  │ trans  │
            // │ trans  │ trans  │ trans  │ trans  │ trans  │ trans  │ trans  │      │ trans  │   0    │   1    │   2    │   3    │  DOT   │ trans  │
            //          │ trans  │ trans  │ trans  │ trans  │ trans  │ trans  │      │ trans  │ trans  │ trans  │ trans  │ trans  │
            bindings = <
&trans  &trans    &trans    &trans       &trans     &trans         &none        &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9  &none    &none
&trans  &kp LEFT  &kp DOWN  &kp UP_ARROW &kp RIGHT  &trans         &none        &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6  &none    &none
&trans  &trans    &trans    &trans       &trans     &trans         &kp NUMBER_0  &kp N1       &kp N2       &kp N3       &kp DOT  &none
                            &trans       &trans     &trans         &trans        &trans       &trans 
            >;
        };
        mouse_layer {
            bindings = <
&trans  &trans    &trans    &trans        &trans     &trans       &trans          &trans          &trans        &trans           &trans   &trans
&trans  &trans    &trans    &trans        &trans     &trans       &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans   &trans
&trans  &trans    &trans    &trans        &trans     &trans       &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans   &trans
                            &trans        &trans     &trans       &mkp LCLK       &mkp MCLK       &mkp RCLK
            >;
        };
        func_layer {
            bindings = <
&trans  &kp F1    &kp F2    &kp F3        &kp F4     &kp F5       &kp F6        &kp F7        &kp F8        &kp F9        &kp F10  &trans
&trans  &trans    &trans    &trans        &trans     &trans       &trans        &trans        &trans        &trans        &trans   &trans
&trans  &kp LA(Z) &trans    &kp LA(C)     &kp LA(V)  &trans       &trans        &trans        &trans        &trans        &trans   &trans
                            &trans        &trans     &trans       &trans        &trans        &trans
            >;
        };
        media_layer {
            bindings = <
&trans  &trans    &trans    &trans        &trans     &trans       &trans        &trans        &trans        &trans        &trans   &trans
&trans  &trans    &trans    &trans        &trans     &trans       &trans        &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE    &trans   &trans
&trans  &trans    &trans    &trans        &trans     &trans       &kp C_PREV    &kp C_PP      &kp C_PLAY    &kp C_NEXT       &trans   &trans
                            &trans        &trans     &trans       &trans        &trans        &trans
            >;
        };
    };
};
